.cart{
    margin: 30px;
    display: flex;
}

.info{
    width: 60%;
    display: grid;
    grid-template-rows: 50px 80px 550px 50px 50px;
}

.info ul{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(5, 1fr);
    border-bottom: 2px solid black;
    height: 40px;
}

.info h3{
    height: 80px;
    text-transform: uppercase;
    font-size: 25px;
    margin: 0%;
    padding: 15px;
}

.detele{
    text-align: center;
}

.emptyInfo, .deteleInfo{
    color: red;
    font-weight: 900;
    padding: 15px;
    text-transform: uppercase;
}

.emptyInfo:hover, .deteleInfo:hover{
    cursor: pointer;
}

.red-text{
    text-align: center;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.product{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(5, 1fr);
    height: 100px;
}

.product img{
    height: 100px;
    margin-left: 25px;
}

.back{
    margin-top: 15px;
}

.total{
    border: 1px #b900005c solid;
    margin: 20px;
    padding: 15px;
    height: 500px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.total h4 {
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.sub, .envio, .envioDisc, .totalC{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.confirm{
    text-align: center;
    margin: 10px;
}

.confirm a{
    padding: 15px;
    background: red;
    color: white;
    cursor: pointer;
}