.item{
    display: flex;
    justify-content: space-between;
    border: 30px #dbdbdb solid;
    border-bottom: none;
    padding: 10px;
    padding-bottom: 0%;
}

.itemImg{
    border: 1px solid #ccc;
}

.itemImg img{
    height: 550px;
}


.itemDetail{
    padding: 15px;
}

.itemDetailTitle{
    font-weight: bold;
    color: darkred;
    font-size: 25px;
    margin-bottom: 50px;
}


.itemDetailPrice, .itemDetailPriceMP{
    display: flex;
}

.itemDetailPrice h3, .itemDetailPriceMP h3{
    font-weight: 400;
    color: rgb(99, 99, 99);
    margin: 0% 5px;
    font-size: 20px;
}

.itemDetailPrice .bold, .itemDetailPriceMP .bold{
    font-weight: bold;
}

.itemDetailStock{
    margin-top: 100px;
    width: 50%;
}

.itemDetailStock h4{
    font-size: 15px;
}

.description{
    border: 30px #dbdbdb solid;
    border-top: 0px;
    padding: 100px 100px 0px 100px;
    height: 515px;
}

.general, .coolersHeatsinks, .memory{
    width: 250px;
}

.general div, .coolersHeatsinks div, .memory div{
    height: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}

.description h5{
    font-size: 20px;
    font-weight: bolder;
    color: red;
    border-bottom: 2px solid silver;
}

.description h6{
    font-weight: bold;
}

.general p, .coolersHeatsinks p, .memory p{
    font-size: 15px;
    text-align: center;
    height: 50px;
    font-weight: lighter;
}

.general h6, .coolersHeatsinks h6, .memory h6{
    font-size: 15px;
    font-weight: bolder;
}