.card{
    flex-direction: row !important;
    justify-content: space-around;
    height: 350px;
    width: 250px;
}

.card-title{
    font-weight: bold !important;
    font-size: 12px !important;
}

.card-image{
    display: flex;
    justify-content: center;
}

.card-image img{
    height: 150px;
    width: 150px !important;
    text-align: center;
}

.card-content a{
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}